footer {
  background-color: #224955; /* Conservé comme demandé */
  padding: 10px;
  color: white;
  text-align: center;
  position: relative; /* Position normale pour apparaître à la fin du contenu */
  width: 100%; /* Pleine largeur */
  z-index: 1000; /* Assure que le footer reste au-dessus des autres éléments */
  margin-top: auto; /* Assure que le footer reste en bas de la page si le contenu est court */
}

footer a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}