<div class="login-container">
  <h2>Connexion Admin</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <input type="email" formControlName="email" placeholder="Email" />
    <input type="password" formControlName="password" placeholder="Mot de passe" />
    <button type="submit">Se connecter</button>
  </form>

  <div *ngIf="successMessage" class="notification success">
    {{ successMessage }}
  </div>

  <div *ngIf="errorMessage" class="notification error">
    {{ errorMessage }}
  </div>
</div>
<!-- Footer -->
<footer style="background-color: #224955; padding: 10px; color: white; text-align: center; position: fixed; bottom: 0; left: 0; width: 100%;">
  <a routerLink="/about" style="color: white; text-decoration: none;">About Us</a>
</footer>
