<div class="login-container">
  <h2>Connexion Admin</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <input type="email" formControlName="email" placeholder="Email" />
    <input type="password" formControlName="password" placeholder="Mot de passe" />
    <button type="submit">Se connecter</button>
  </form>

  <div *ngIf="successMessage" class="notification success">
    {{ successMessage }}
  </div>

  <div *ngIf="errorMessage" class="notification error">
    {{ errorMessage }}
  </div>
</div>
