<nav class="navbar">
    <div class="navbar-brand">Gestion Entretiens</div>
    
    <div class="nav-links">
      <a 
        routerLink="/gestion_entretien" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
      >
        Entretiens
      </a>
      <a 
        routerLink="/candidate" 
        routerLinkActive="active"
      >
        Candidats
      </a>
      <a 
        routerLink="/admin" 
        routerLinkActive="active"
      >
        Liens
      </a>
    </div>
  </nav>