<app-navbar></app-navbar>

<div class="dashboard-container">
  <h2>Dashboard Admin</h2>

  <label for="domaine">📚 Domaine du candidat :</label>
  <select id="domaine" [(ngModel)]="selectedDomaine">
    <option value="" disabled selected>-- Choisir un domaine --</option>
    <option *ngFor="let domaine of domaines" [value]="domaine">
      {{ domaine }}
    </option>
  </select>

  <div *ngIf="selectedDomaine">
    <p>✅ Domaine sélectionné : <strong>{{ selectedDomaine }}</strong></p>
  </div>
</div>