
.dashboard-container {
  background-color: #f5f5f5;
  min-height: calc(100vh - 100px); /* Laisse la place pour le navbar et footer */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.dashboard-container h2 {
  color: #224955;
  font-size: 28px;
  margin-bottom: 20px;
}

label {
  color: #224955;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
}

select {
  width: 300px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

select:focus {
  outline: none;
  border-color: #224955;
}

p {
  color: #224955;
  font-size: 18px;
  margin-top: 20px;
}

button {
  background-color: #224955;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}

button:hover {
  background-color: #1a3540;
}

